<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925672101153-460aqbpqgrl6b9germ0po592vmimu4h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925672101153-460aqbpqgrl6b9germ0po592vmimu4h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBsp2JFA2fyCQ1xE8AVyNqs1hZHMHjU3ds</string>
	<key>GCM_SENDER_ID</key>
	<string>925672101153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukebeach.snackmate</string>
	<key>PROJECT_ID</key>
	<string>snackmate-e27e4</string>
	<key>STORAGE_BUCKET</key>
	<string>snackmate-e27e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925672101153:ios:b7c50c9bbddaf6f9</string>
	<key>DATABASE_URL</key>
	<string>https://snackmate-e27e4.firebaseio.com</string>
</dict>
</plist>